.panel body p, .panel a, .panel div {
	font-size: 11px;
}
#sortable-columns .mix {
	/*display: none;*/
}
.panel-footer {
	color: #fff;
}
.panel-footer  a {
	text-decoration: underline;
    color: #fff;
    margin-left: 5px;
}
.nm-facebook .panel-footer {
	background-color: #3b5998;
}
.nm-twitter .panel-footer {
	background-color: #4ec2dc;
}
.nm-tumblr .panel-footer {
	background-color: #4ec2dc;
}
.nm-googleplus .panel-footer {
	background-color: #db4437;
}
.nm-youtube .panel-footer {
	background-color: #DF1F1C;
}
.nm-flickr .panel-footer {
	background-color: #f90784;
}
.nm-pinterest .panel-footer {
	background-color: #CB2528;
}
.nm-rss .panel-footer {
	background-color: #FF9800;
}
.nm-lastfm .panel-footer {
	background-color: #C90E12;
}
.nm-dribbble .panel-footer {
	background-color: #F175A8;
}
.nm-vimeo .panel-footer {
	background-color: #4EBAFF;
}
.nm-stumbleupon .panel-footer {
	background-color: #EB4924;
}
.nm-instagram .panel-footer {
	background-color: #413A33;
}
.nm-delicious .panel-footer {
	background-color: #0076E8;
}